@model WebApplication.Areas.Project.View_Models.TemplateRDViewModel
<style>
    .dvBody {
        padding-top: 5px;
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
        height: 100%;
    }

    .legendBox {
        position: absolute;
        bottom: 100px;
        background-color: white;
        border: solid 2px;
        width: 170px;
        right: 5% !important;
    }

    .maxHeight {
        height: inherit;
    }

    .heightWidth100 {
        height: 100%;
        width: 100%;
        padding-bottom: 5%;
    }

    .lagendHeader {
        text-align: center;
        background-color: #056d7d;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 10px;
    }

    .colorBox {
        height: 22px;
        width: 22px;
        color: white;
        border: solid 1px;
        border-color: black;
        margin-bottom: -7px;
    }

    .plot-count {
        padding-left: 10px;
    }

    .borderless {
        margin-bottom: 0px !important;
    }

        .borderless td, .borderless th {
            border: 0 !important;
        }

    .tbl-heading {
        background-color: #004B99;
        text-align: center;
        color: white;
    }
    .body-icon {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 120px;
    opacity: 0.1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
</style>


@if (Model.TemplateType == "report")
{
    <div id="MAP_LONGITUDE"></div>
    <div id="MAP_LATITUDE"></div>
    <div id="PLOT_COLOR"></div>
    <div class="dvBody" id="PAGE_BACKGROUNDCOLOR" style="margin-left: 35px; margin-right: 35px">
        <div class="body-icon"><i class="fa fa-globe default-cell-icon"></i></div>
        <div class="row" style="height: 100%;">
            <div class="col-xs-12 col-md-12 maxHeight">
                <div class="row" style="display: none">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <table id="mapControls_@Model.NodeId" class="mapControls">
                                <tr>
                                    <td>
                                        <input type="hidden" id="KmlPath_@Model.NodeId" />
                                    </td>
                                    <td>Circle Radius: &nbsp;&nbsp; </td>
                                    <td><input type="number" value="17" id="pci-Radius" class="form-control" /> </td>
                                    <td style="padding-left:50px;">Azmuth Radius: &nbsp;&nbsp; </td>
                                    <td>
                                        <input type="number" value="200" id="pci-Azmuth" class="form-control" />
                                    </td>
                                    <td style="padding-left:50px;">
                                        <input type="button" onclick="loadKMLMap('@Model.NodeId','@Model.BandId','@Model.CarrierId','@Model.NetworkModeId','@Model.ProjectId','@Model.ScopeId','@Model.SiteId')" value="Load" class="btn btn-default" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <h1 id="MAP_TITLE"></h1>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 95%; margin-right: -50px !important; margin-left: -50px !important;">
                    <div class="col-xs-12 col-md-12 heightWidth100">
                        <div class="pan-map googlemap center-block heightWidth100" id="MAP_PLOT_@Model.NodeId" ></div>
                        <div class="legendBox">
                            <div class="lagendHeader" id="lagendHeader">
                                <span>  </span>
                            </div>
                            <table class="table borderless">
                                <tbody id="legendList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function param(name) {
            return (location.search.split(name + '=')[1] || '').split('&')[0];
        }
         $(document).ready(function() {
        var Latitude;
        var Longitude;
        var WithView = '@Model.WithPartialView';
        if (WithView == 'false' || WithView == 'False') {
            return false;
        }

        if ('@Model.PageType' == 'Map') {
            var NodeId = @Model.NodeId;
            $.ajax({
                url: '/Project/Template/GetNodeWidgetData',
                data: {
                    NodeId: '@Model.NodeId',
                    BandId: '@Model.BandId',
                    CareerId: '@Model.CarrierId',
                    NetworkModeId: '@Model.NetworkModeId',
                    ProjectId: '@Model.ProjectId',
                    ScopeId: '@Model.ScopeId',
                    SiteId: '@Model.SiteId',
                    PlotId: 0,
                    UserId: 11,
                    ControlType: "MAP",
                },
                type: "POST",
                async: false,
                success: function(result) {
                    console.log(result);
                    var azmuthData = result.AzmuthDataJSON
                    var baseData = result.NodeSettingList;
                    Latitude = result.Latitude;
                    Longitude = result.Longitude;
                    var kmlURL = result.KMLFilePath;
                    console.log(kmlURL);
                    kmlURL = kmlURL.replace(' ', '%20');
                    //kmlURL = "";

                    $('#KmlPath_@Model.NodeId').val(kmlURL);

                    //kmlURL = 'http://localhost:18460/Content/AirViewLogs/SampleKML/CW.kml';
                    var obj = JSON.parse(azmuthData);
                    debugger
                    var AzmuthRadius = '200';
                    AzmuthRadiusParam = param('AzmuthRadius');
                    if(AzmuthRadius != null && AzmuthRadius != '' && AzmuthRadius!= 'undefined'){
                        AzmuthRadius = AzmuthRadiusParam;
                    }
                    console.log(AzmuthRadius);
                    //kmlURL
                    initializekml('MAP_PLOT_@Model.NodeId', obj[0][Latitude], obj[0][Longitude], 'test', kmlURL, obj, '100', AzmuthRadius)
                    //initializekml('PCI_Plot', SiteLatitude, SiteLongitude, SiteCode, kml, NetLayerReport.Azmiuth, $('#pci-Radius').val(), $('#pci-Azmuth').val());

                    var legends = result.LegendsList;
                    var legendsListHTML = "";
                    $(legends).each(function(i) {
                        legendsListHTML += "<tr> <td> <div class='colorBox' style='background-color:" + legends[i].Color + ";'></div>  </td>  <td><span class='plot-count'>" + legends[i].Legend + "</span></td>  </tr>";
                    });

                    $('#dv' + @Model.NodeId).find('#legendList').html(legendsListHTML);
                    $('#dv' + @Model.NodeId).find('#lagendHeader').html(result.MapType + " Plot");

                    var siteName = (result.Site != null) ? result.Site : "";
                    $('#dv' + @Model.NodeId).find('#MAP_TITLE').html(siteName + " " + result.MapType + " Plot");

                    $(baseData).each(function(i) {
                        if (baseData[i].MappedId == "MAP_TITLE") {
                            if (baseData[i].Settings != null && baseData[i].Settings != "") {
                                var settingsObj = JSON.parse(baseData[i].Settings);
                                $('#dv' + NodeId).find('#MAP_TITLE').css("font-family", settingsObj[0]["font-family"], 'important');
                                $('#dv' + NodeId).find('#MAP_TITLE').css("font-size", settingsObj[0]["font-size"], 'important');
                                $('#dv' + NodeId).find('#MAP_TITLE').css("font-style", settingsObj[0]["typography"]);
                                $('#dv' + NodeId).find('#MAP_TITLE').css("color", settingsObj[0]["font-color"]);

                                if (settingsObj[0]["align"] == "left") {
                                    $('#dv' + NodeId).find('#MAP_TITLE').addClass("text-left");
                                }
                                if (settingsObj[0]["align"] == "right") {
                                    $('#dv' + NodeId).find('#MAP_TITLE').addClass("text-right");
                                }
                                if (settingsObj[0]["align"] == "center") {
                                    $('#dv' + NodeId).find('#MAP_TITLE').addClass("text-center");
                                }

                                if (settingsObj[0]["typography"] == "bold") {
                                    $('#dv' + NodeId).find('#MAP_TITLE').css("font-weight", "bold");
                                    $('#dv' + NodeId).find('#MAP_TITLE').css("font-style", "normal");
                                }
                                if (settingsObj[0]["typography"] == "italic") {
                                    $('#dv' + NodeId).find('#MAP_TITLE').css("font-style", "italic");
                                    $('#dv' + NodeId).find('#MAP_TITLE').css("font-style", "normal");
                                }
                                if (settingsObj[0]["typography"] == "bold_italic") {
                                    $('#dv' + NodeId).find('#MAP_TITLE').css("font-weight", "bold");
                                    $('#dv' + NodeId).find('#MAP_TITLE').css("font-style", "italic");
                                }
                            }
                        }
                    });
                }
            });
        }
    });
        var currentURL = window.location.href;
    function loadKMLMap(nodeId, bandId, carrierId, networkModeId, projectId, scopeId, siteId) {
        //var KMLURL = $('#'+KMLFile).val();
        //// KMLURL = ''
        //initializekml(MapDiv, 20.593684, 78.96288, 'test', KMLURL, null, '100', '100');
        var Latitude;
        var Longitude;
        $.ajax({
            url: '/Project/Template/GetNodeWidgetData',
            data: {
                NodeId: nodeId,
                BandId: bandId,
                CareerId: carrierId,
                NetworkModeId: networkModeId,
                ProjectId: projectId,
                ScopeId: scopeId,
                SiteId: siteId,
                PlotId: 0,
                UserId: 11,
                ControlType: "MAP",
            },
            type: "POST",
            async: false,
            success: function(result) {

                var azmuthData = result.AzmuthDataJSON
                var baseData = result.NodeSettingList;
                var kmlURL = result.KMLFilePath;
                Latitude = result.Latitude;
                Longitude = result.Longitude;
                kmlURL = kmlURL.replace(' ', '%20')
                var obj = JSON.parse(azmuthData);

                initializekml('MAP_PLOT_' + nodeId, obj[0][Latitude], obj[0][Longitude], 'test', kmlURL, obj, '100', '200')

                var legends = result.LegendsList;
                var legendsListHTML = "";
                $(legends).each(function(i) {
                    legendsListHTML += "<tr> <td> <div class='colorBox' style='background-color:" + legends[i].Color + ";'></div>  </td>  <td><span class='plot-count'>" + legends[i].Legend + "</span></td>  </tr>";
                });
                console.log(result);
                $('#dv' + nodeId).find('#legendList').html(legendsListHTML);
                $('#dv' + nodeId).find('#lagendHeader').html(result.MapType + " Plot");
                $('#dv' + nodeId).find('#MAP_TITLE').html(result.Site + " " + result.MapType + " Plot");

                $(baseData).each(function(i) {
                    if (baseData[i].MappedId == "MAP_TITLE") {
                        if (baseData[i].Settings) {
                            var settingsObj = JSON.parse(baseData[i].Settings);
                            $('#dv' + nodeId).find('#MAP_TITLE').css("font-family", settingsObj[0]["font-family"], 'important');
                            $('#dv' + nodeId).find('#MAP_TITLE').css("font-size", settingsObj[0]["font-size"], 'important');
                            $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", settingsObj[0]["typography"]);
                            $('#dv' + nodeId).find('#MAP_TITLE').css("color", settingsObj[0]["font-color"]);

                            if (settingsObj[0]["align"] == "left") {
                                $('#dv' + nodeId).find('#MAP_TITLE').addClass("text-left");
                            }
                            if (settingsObj[0]["align"] == "right") {
                                $('#dv' + nodeId).find('#MAP_TITLE').addClass("text-right");
                            }
                            if (settingsObj[0]["align"] == "center") {
                                $('#dv' + nodeId).find('#MAP_TITLE').addClass("text-center");
                            }

                            if (settingsObj[0]["typography"] == "bold") {
                                $('#dv' + nodeId).find('#MAP_TITLE').css("font-weight", "bold");
                                $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "normal");
                            }
                            if (settingsObj[0]["typography"] == "italic") {
                                $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "italic");
                                $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "normal");
                            }
                            if (settingsObj[0]["typography"] == "bold_italic") {
                                $('#dv' + nodeId).find('#MAP_TITLE').css("font-weight", "bold");
                                $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "italic");
                            }
                        }
                    }
                });
            }
        });
    }
    </script>
}
else if (Model.TemplateType == "dashboard")
{
    <div id="MAP_LONGITUDE"></div>
    <div id="MAP_LATITUDE"></div>
    <div id="PLOT_COLOR"></div>
    if (Model.TemplateType == "dashboard" && !HttpContext.Current.Request.Url.AbsoluteUri.Contains("Dashboard"))
    {
        <div class="body-icon"><i class="fa fa-table default-cell-icon"></i></div>
        <span id="MAP_TITLE"></span>
        <div id="MAP_PLOT_@Model.NodeId"></div>
    }
    else
    {
        <style>
            #MAP_PLOT_@Model.NodeId {
                height: 100%;
            }
        </style>
        <div id="@("dv" + Model.NodeId)" style="background-color: #383838!important; padding: 5px; ">
            <span style="color: white">
                <span class="widget-icon"> <i class="fa fa-globe"></i> </span>
                <span id="MAP_TITLE"></span>
            </span>
        </div>
        <div id="MAP_PLOT_@Model.NodeId" style="height:95% !important;"></div>
        <script>

            var locations = [];
            var mapData = [];
            var mapMarkerProperties = [];
            var mapLatitude;
            var mapLongitude;
        try{
            if ('@Model.PageType' == 'Map') {
                var NodeId = @Model.NodeId;
                $.ajax({
                    url: '/Project/Template/GetNodeWidgetData',
                    data: {
                        NodeId: '@Model.NodeId',
                        BandId: '@Model.BandId',
                        CareerId: '@Model.CarrierId',
                        NetworkModeId: '@Model.NetworkModeId',
                        ProjectId: '@Model.ProjectId',
                        ScopeId: '@Model.ScopeId',
                        SiteId: '@Model.SiteId',
                        PlotId: 0,
                        UserId: 11,
                        ControlType: "MAP",
                    },
                    type: "POST",
                    async: false,
                    success: function(result) {
                        console.log(result);
                        var nodeId = @Model.NodeId;
                        var baseData = result.NodeSettingList;
                        for(var i = 0; i < baseData.length; i++){
                            if (baseData[i].MappedId == "MAP_TITLE") {
                                if (baseData[i].Settings != null && baseData[i].Settings != "") {
                                    $('#dv' + nodeId).find('#MAP_TITLE').html(baseData[i].KeyName);
                                    var settingsObj = JSON.parse(baseData[i].Settings);
                                    $('#dv' + nodeId).find('#MAP_TITLE').css("font-family", settingsObj[0]["font-family"], 'important');
                                    $('#dv' + nodeId).find('#MAP_TITLE').css("font-size", settingsObj[0]["font-size"], 'important');
                                    $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", settingsObj[0]["typography"]);
                                    $('#dv' + nodeId).find('#MAP_TITLE').css("color", settingsObj[0]["font-color"]);

                                    if (settingsObj[0]["align"] == "left") {
                                        $('#dv' + nodeId).find('#MAP_TITLE').addClass("text-left");
                                    }
                                    if (settingsObj[0]["align"] == "right") {
                                        $('#dv' + nodeId).find('#MAP_TITLE').addClass("text-right");
                                    }
                                    if (settingsObj[0]["align"] == "center") {
                                        $('#dv' + nodeId).find('#MAP_TITLE').addClass("text-center");
                                    }

                                    if (settingsObj[0]["typography"] == "bold") {
                                        $('#dv' + nodeId).find('#MAP_TITLE').css("font-weight", "bold");
                                        $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "normal");
                                    }
                                    if (settingsObj[0]["typography"] == "italic") {
                                        $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "italic");
                                        $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "normal");
                                    }
                                    if (settingsObj[0]["typography"] == "bold_italic") {
                                        $('#dv' + nodeId).find('#MAP_TITLE').css("font-weight", "bold");
                                        $('#dv' + nodeId).find('#MAP_TITLE').css("font-style", "italic");
                                    }
                                }
                            }
                        }
                        mapData = JSON.parse(result.DashbardMapData);
                        mapLatitude = result.Latitude;
                        mapLongitude = result.Longitude;
                        mapMarkerProperties = JSON.parse(result.MapMarkerData);
                    }
                });
            }
            @{ 
                string MapFunction = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAdDzJ4ggDZu4WAguesEjYlVEl1Y80YYDI&callback="+ "initMap" + Model.NodeId;
                string funcionName = "initMap" + Model.NodeId;
            }
            debugger
            function @funcionName () {
                debugger
             //   console.log(mapData[0].latiCordinateValue);
                var myLatLng = {lat:30.391782,lng: 73.569537};
                //if(mapData != null && mapData != "undefined" && mapData != ""){
                //    if(mapData.length > 0){
                //        myLatLng = {lat: mapData[0].latiCordinateValue, lng: mapData[0].longCordinateValue};
                //        console.log(mapData[0].latiCordinateValue +" "+mapData[0].longCordinateValue);
                //    }

                //}


                var map = new google.maps.Map(document.getElementById('MAP_PLOT_@Model.NodeId'), {
                    zoom: 2,
                    center: myLatLng
                });

                var count=0;
                var MarkerDetail = "";
                if(mapData != null && mapData != "undefined" && mapData != ""){
                    console.log(mapData.length);
                    for (count = 0; count < mapData.length; count++) {

                        MarkerDetail = "";
                        for(var i = 0; i < mapMarkerProperties.length; i++){
                            var propertyName = mapMarkerProperties[i];
                            if(propertyName != "longCordinateValue" && propertyName != "latiCordinateValue")
                                MarkerDetail += "<b>"+mapMarkerProperties[i]+": </b> " + mapData[count][propertyName]+ "<br />";
                        }
                        debugger
                        var markerContent =  MarkerDetail;
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(mapData[count][mapLatitude], mapData[count][mapLongitude]),
                            map: map
                        });
                      //  console.log(mapData[count].latiCordinateValue, mapData[count].longCordinateValue);
                        marker.info = new google.maps.InfoWindow({
                            content: markerContent
                        });


                        google.maps.event.addListener(marker, 'click', function() {
                            var marker_map = this.getMap();
                            this.info.open(marker_map, this);
                        });
                    }
                }


            }
        }
        catch(e){
            console.log(e.message);
        }
        </script>

        <script async defer src=@MapFunction> 
        debugger
        </script>
    }
}