
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AirView : @ViewBag.Title</title>
  
    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")

    <meta http-equiv="pragma" content="no-cache" />
    <noscript>
        <meta http-equiv="refresh" content="0;url=/Error/index?type=noScript" />
    </noscript>
    <style>
        .DashboardStatus {
            margin-top: 20px;
            text-decoration: underline;
        }
        /*body{
            font-family:Arial;
        }*/
    </style>
    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    <script src="~/Scripts/angular.js"></script>
    @RenderSection("style", false)

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/10.0.0/decoupled-document/ckeditor.js"></script>

 
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
</head>

<!--hold-transition skin-blue sidebar-mini-->
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">
        @Html.Partial("~/views/shared/_header.cshtml")
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@ViewBag.picture" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.fname @ViewBag.lname</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                @if (SWI.Security.Filters.Permission.IsLogin())
                {
                    @Html.Action("Menu", "Permission", new { area = "", type = "AdminLte" })
                }

            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                <div id="alert_message">
                    <noscript>Your browser does not support JavaScript! </noscript>
                    @Html.Partial("~/Views/Shared/_message.cshtml")
                </div>
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> @ViewBag.Version
            </div>
            <strong>@Html.Raw(ViewBag.CopyrightValue)</strong>
        </footer>
    </div>
    <input type="hidden" id="-uid" value="@ViewBag.UserId" />

    @Html.Partial("~/views/shared/_modal.cshtml")
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    <script src="~/Content/js/Plugins/AjaxLoading/loading.js"></script>

    <script type="text/javascript">
        var loading = $.loading();

        $(document).ready(function () {
            //Disable full page
            $("body").on("contextmenu", function (e) {
                return false;
            });
        });
    </script>


    @RenderSection("scripts", required: false)


</body>
</html>

